// Place all the styles related to the Paintings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
}

#account {
  justify-content: flex-end;
}

#menu{
  justify-content: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: space-between;
}
